.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s all;
}
.modal.active {
  opacity: 1;
  pointer-events: all;
}
.modal-content {
  max-height: 100%;
  height: auto;
  padding: 30px;
  background-color: #fff;
  border-radius: 12px;
  transform: scale(0);
  transition: all 0.5s;
  max-width: 50vw;
  width: auto;
  @media (max-width: 1590.98px) {
    max-width: 60vw;
  }
  @media (max-width: 1199.98px) {
    max-width: 80vw;
  }
  @media (max-width: 850.98px) {
    max-width: 90vw;
  }
  @media (max-width: 768.98px) {
    max-width: 75vw;
  }
  @media (max-width: 575.98px) {
    max-width: 85vw;
    padding: 15px;
  }
}
.modal-content.active {
  transform: scale(1);
}
